@model demo3.Models.ASPIRE_Measures

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ASPIRE_Measures</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Measure_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Measure_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Measure_Collation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Measure_Collation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Measure_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Measure_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Report_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Report_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Galileo_Measure_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Galileo_Measure_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_File_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image_File_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Threshold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Threshold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMS_Measure_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMS_Measure_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Published)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domain)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        //@Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
