@model IEnumerable<demo3.Models.Details_All_Result>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Measure List </h4>
    <hr />
    <dl class="dl-horizontal" style="text-align:center">       
        <dt>
            @Html.DisplayNameFor(model => model.Measure_Abbreviation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First().Measure_Abbreviation).ToString().Replace("-", " ")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Measure_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First().Measure_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NQS_Domain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First().NQS_Domain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QCDR_Measure_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First().QCDR_Measure_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VBR)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.First().VBR)*@
            @if (Model.First().VBR == null)
            {
                <text>N/A</text>
            }
            else if ((bool)Model.First().VBR)
            {
                <text>Yes</text>
            }
            else
            {
                <text>No</text>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clinical_Lead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First().Clinical_Lead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Developer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First().Developer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Measure_Spec_Completed)

        </dt>

        <dd>
            @if (Model.First().Measure_Spec_Completed == null)
            {
                <text>N/A</text>
            }
            else if ((bool)Model.First().Measure_Spec_Completed)
            {
                <text>Yes</text>
            }
            else
            {
                <text>No</text>
            }
            @*@Html.DisplayFor(model => model.First().Measure_Spec_Completed)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First().Date_Published)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.First().Measure_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
