@model demo3.Models.EditMeasure

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Measure List </h4>
    <hr />
    <dl class="dl-horizontal" style="text-align:center">
        <dt>
            @Html.DisplayNameFor(model => model.Details_All_Results.First().Measure_Abbreviation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details_All_Results.First().Measure_Abbreviation).ToString().Replace("-", " ")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details_All_Results.First().Measure_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details_All_Results.First().Measure_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details_All_Results.First().Enumeration_Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details_All_Results.First().Enumeration_Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details_All_Results.First().QCDR_Measure_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details_All_Results.First().QCDR_Measure_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details_All_Results.First().VBR)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.First().VBR)*@
            @if (Model.Details_All_Results.First().VBR == null)
            {
                <text>N/A</text>
            }
            else if ((bool)Model.Details_All_Results.First().VBR)
            {
                <text>Yes</text>
            }
            else
            {
                <text>No</text>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details_All_Results.First().Clinical_Lead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details_All_Results.First().Clinical_Lead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details_All_Results.First().Developer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details_All_Results.First().Developer)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Details_All_Results.First().Measure_Spec_Completed)

        </dt>

        <dd>
            @if (Model.Details_All_Results.First().Measure_Spec_Completed == null)
            {
                <text>N/A</text>
            }
            else if ((bool)Model.Details_All_Results.First().Measure_Spec_Completed)
            {
                <text>Yes</text>
            }
            else
            {
                <text>No</text>
            }

        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Details_All_Results.First().Date_Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details_All_Results.First().Date_Published)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details_All_Results.First().Status_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details_All_Results.First().Status_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Details_All_Results.First().Measure_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
