@model demo3.Models.EditMeasure
@{             

    ViewBag.Title = "Edit";
}
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<h2>Edit</h2>

<div class="form-horizontal">
   <input value="@Model.Details_All_Results.First().Measure_ID" id="measure_id" type="hidden"/>

    <div class="form-group">
        @Html.LabelFor(model => model.Details_All_Results.First().Measure_Abbreviation, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input id="measure_abbreviation" class="form-control" value="@Model.Details_All_Results.First().Measure_Abbreviation"/>
            <span class="text-danger" id="warning"></span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Details_All_Results.First().Measure_Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input id="measure_title" class="form-control" value="@Model.Details_All_Results.First().Measure_Title""/>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Details_All_Results.First().NQS_Domain, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model=>model.Details_All_Results.First().NQS_Domain, new SelectList(Model.nQS_Domains, "NQS_Domain_ID", "NQS_Domain_Name", selectedValue: Model.Details_All_Results.First().NQS_Domain), "select NQS Domain", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Details_All_Results.First().QCDR_Measure_Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input id="qcdr_measure_name" class="form-control" value="@Model.Details_All_Results.First().QCDR_Measure_Name" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Details_All_Results.First().VBR, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
                 @Html.DropDownListFor(model => model.Details_All_Results.First().VBR, new SelectList(new[] {
                                new  { Value = "", Text = "Not Set" },
                                new { Value = "true", Text = "Yes" },
                                new  { Value = "false", Text = "No" },                 
                                },
                                "Value",
                                "Text",
                                Model.Details_All_Results.First().VBR
                       ),  new { @id = "vbr", @class = "form-control" })            
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Details_All_Results.First().Clinical_Lead, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input id="clinical_lead" class="form-control" value="@Model.Details_All_Results.First().Clinical_Lead"/>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Details_All_Results.First().Developer, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input id="developer" class="form-control" value="@Model.Details_All_Results.First().Developer"/>
        </div>
    </div>
  
    @*<div class="form-group">
        @Html.LabelFor(model => model.Details_All_Results.First().Date_Published, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.TextBoxFor(model => model.Details_All_Results.First().Date_Published, "{0:MM/dd/yyyy}", htmlAttributes: new { @id = "date_published", @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
    </div>*@


    <div class="form-group">
        @Html.LabelFor(model => model.Details_All_Results.First().Status_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.DropDownListFor(model=>model.Details_All_Results.First().Status_ID, new SelectList(Model.Status_Types, "Status_ID", "Status_Name", selectedValue: Model.Details_All_Results.First().Status_ID), "select status", new { @id = "Status_ID", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" id="save" class="btn btn-default" />
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#save').click(function () {
            var measure_id = $('#measure_id').val();
            var measure_abbreviation = $('#measure_abbreviation').val();
            if (measure_abbreviation == "") {
                $('#warning').text("please enter the measure abbreviation!");
                return;
            } 
            var measure_title = $('#measure_title').val();
            var nqs_domain = $('#NQS_Domain').val();
            var qcdr_measure_name = $('#qcdr_measure_name').val();
            var vbr = $('#vbr').val();
            var clinical_lead = $('#clinical_lead').val();
            var developer = $('#developer').val();
            var date_published = $('#date_published').val();
            var status_id = $('#Status_ID').val();
            if (status_id == "") {
                alert('please select measure status!');
                return;
            }
            var data = {
                'measure_id': measure_id,
                'measure_abbreviation': measure_abbreviation,
                'measure_title': measure_title,
                'nqs_domain': nqs_domain,
                'qcdr_measure_name': qcdr_measure_name,
                'vbr': vbr,
                'clinical_lead': clinical_lead,
                'developer': developer,
                'date_published': date_published,
                'status_id': status_id,
            }
            console.log(data);
            $.ajax({
                url: '@Url.Action("EditSave", "Measures")',
                type: 'POST',
                data: data,
                success: function (data) {
                    if (data.success) {
                        console.log(data);
                        alert("Edit measure successfully!");
                        //$('#create_domain_modal').modal('hide');
                        window.location.href = "/Measures/Details/" + measure_id;
                    }
                    else {
                        console.log(data.message)
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            })
        })
    })
</script>
