@{ 
    Layout = null;
    Boolean isLoggedin = false;
    if (Session["userid"] != null)
    {
        isLoggedin = true;
    }

}

<!DOCTYPE html>
<html>
<head>
    <title>Spec Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/table_in_spec.css" rel="stylesheet" type="text/css" />

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div style="padding-right:55px;padding-left:55px; background-color: white">
            <a href="https://mpog.org/">
                <img class="mobile-logo preload-me" src="https://mpog.org/wp-content/uploads/2017/08/MPOG_LOGO4.jpg"
                     srcset="https://mpog.org/wp-content/uploads/2017/08/MPOG_LOGO4.jpg 301w, https://mpog.org/wp-content/uploads/2017/08/MPOG_LOGO4.jpg 301w"
                     width="301" height="73" sizes="301px" alt="MPOG">
            </a>

            @if (isLoggedin) //isLogin
            {
                <div style="float: right; margin-top: 20px">
                    <div style="display: flex;">
                        <span style="text-align:center;height:inherit">Hello, @(Session["first_name"] + " " + Session["last_name"])! &nbsp; &nbsp; </span>
                        <button type="submit" class="btn-primary btn" style="float: right" onclick="location.href='@Url.Action("Logout", "Home")'">Logout</button>
                    </div>
                </div>

            }
            else
            {
                <button type="submit" class="btn-primary btn" style="float: right; margin-top: 20px" onclick="location.href='@Url.Action("Login", "Home")'">QI Coordinator Login</button>
            }


        </div>
        <div class="collapse navbar-collapse" id="myNavbar" style="box-sizing:content-box">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">@ViewBag.basic.Measure_Abbreviation Basic Info<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">NQS Domain</a></li>
                        <li><a href="#">Measure Type</a></li>
                        <li><a href="#">Scope</a></li>
                        <li><a href="#">Threshold</a></li>
                    </ul>
                </li>
                <li><a href="#section2">Data Collection Method</a></li>
                <li><a href="#section3">Description</a></li>
                <li><a href="#section4">Measure Summary</a></li>
                <li><a href="#section5">Rationale</a></li>
                <li><a href="#section6">Inclusions</a></li>
                <li><a href="#section7">Exclusions</a></li>
                <li><a href="#section8">MPOG Concept IDs Required</a></li>
                <li><a href="#section9">Data Diagnostics Affected</a></li>
                <li><a href="#section10">Collations Used</a></li>
                <li><a href="#section11">Other Measure Build Details</a></li>
                <li><a href="#section12">Success</a></li>
                <li><a href="#section13">Responsible Provider</a></li>
                <li><a href="#section14">Risk Adjustment</a></li>
                <li><a href="#section15">Flow Chart</a></li>
                <li><a href="#section16">References</a></li>

            </ul>
        </div>
        @*</div>*@
        @*</div>*@
    </nav>

    <div id="section1" class="container-fluid">
        <h2>@ViewBag.basic.Measure_Abbreviation Basic Info</h2>
        <table>
            <tr>
                <th>Unpublished</th>
                <th>Published</th>
            </tr>
            <tr>
                <td>
                    <dl class="dl-horizontal" style="text-align:left">
                        <dt>
                            NQS Domain
                        </dt>
                        <dd>
                            @ViewBag.basic.NQS_Domain
                        </dd>

                        <dt>
                            Measure Type
                        </dt>
                        <dd>
                            @ViewBag.basic.Measure_Type
                        </dd>

                        <dt>
                            Scope
                        </dt>
                        <dd>
                            @ViewBag.basic.Scope
                        </dd>

                        <dt>
                            Threshold
                        </dt>
                        <dd>
                            @ViewBag.basic.Threshold
                        </dd>
                    </dl>
                </td>
                <td>
                    <dl class="dl-horizontal" style="text-align:left">
                        <dt>
                            NQS Domain
                        </dt>
                        <dd>
                            @ViewBag.published.NQS_Domain
                        </dd>

                        <dt>
                            Measure Type
                        </dt>
                        <dd>
                            @ViewBag.published.Measure_Type
                        </dd>

                        <dt>
                            Scope
                        </dt>
                        <dd>
                            @ViewBag.published.Scope
                        </dd>

                        <dt>
                            Threshold
                        </dt>
                        <dd>
                            @ViewBag.published.Threshold
                        </dd>
                    </dl>
                </td>
            </tr>
        </table>


    </div>

    <div id="section2" class="container-fluid">
        <h2>Data Collection Method</h2>
        <table>
            <tr>
                <th>Unpublished</th>
                <th>Published</th>
            </tr>
            <tr>
                <td>
                    @ViewBag.basic.Data_Collection_Method
                </td>
                <td>
                    @ViewBag.published.Data_Collection_Method
                </td>
            </tr>
        </table>

    </div>
    <div id="section3" class="container-fluid">
        <h2>Description</h2>
        <table>
            <tr>
                <th>Unpublished</th>
                <th>Published</th>
            </tr>
            <tr>
                <td>
                    @ViewBag.basic.Description
                </td>
                <td>
                    @ViewBag.published.Description
                </td>
            </tr>
        </table>
    </div>
    <div id="section4" class="container-fluid">
        <h2>Measure Summary</h2>
        <table>
            <tr>
                <th>Unpublished</th>
                <th>Published</th>
            </tr>
            <tr>
                <td>
                    @ViewBag.basic.Measure_Summary
                </td>
                <td>
                    @ViewBag.published.Measure_Summary
                </td>
            </tr>
        </table>
    </div>
    <div id="section5" class="container-fluid">
        <h2>Rationale</h2>
        <table>
            <tr>
                <th>Unpublished</th>
                <th>Published</th>
            </tr>
            <tr>
                <td>
                    @ViewBag.basic.Rationale
                    aaaa

                </td>
                <td>
                    @ViewBag.published.Rationale
                    ssss
                </td>
            </tr>
        </table>
    </div>

    <div id="section6" class="container-fluid">
        <h2>Inclusions</h2>
        <table>
            <tr>
                <th>Unpublished</th>
                <th>Published</th>
            </tr>
            <tr>
                <td>
                    @ViewBag.basic.Inclusions
                    aaaa

                </td>
                <td>
                    @ViewBag.published.Inclusions
                    ssss
                </td>
            </tr>
        </table>
    </div>

    <div id="section7" class="container-fluid">
        <h2>Exclusions</h2>
        <table>
            <tr>
                <th>Unpublished</th>
                <th>Published</th>
            </tr>
            <tr>
                <td>
                    @ViewBag.basic.Exclusions
                    aaaa

                </td>
                <td>
                    @ViewBag.published.Exclusions
                    exclusion published
                </td>
            </tr>
        </table>
    </div>

    <div id="section8" class="container-fluid">
        <h2>MPOG Concept ID Required</h2>
        <table>
            <tr>
                <th>Unpublished</th>
                <th>Published</th>
            </tr>
            <tr>
                <td>
                    <table align="center" cellspacing="100">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>
                                        MPOG Concept Header Name
                                    </strong>
                                </td>
                                <td>
                                    <strong>
                                        MPOG Concept ID
                                    </strong>
                                </td>
                                <td>
                                    <strong>
                                        MPOG Concept Type
                                    </strong>
                                </td>
                            </tr>
                            @foreach (var item in ViewBag.concept)
                            {
                                <tr>
                                    <td>
                                        @item.MPOG_Concept_Header_Name
                                    </td>
                                    <td>
                                        @item.MPOG_Concept_ID
                                    </td>
                                    <td>
                                        @item.concept_desc
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </td>
                <td></td>
            </tr>
        </table>
    </div>

    <div id="section9" class="container-fluid">
        <h2>Data Diagnostics Affected</h2>
        <table>
            <tr>
                <th>Unpublished</th>
                <th>Published</th>
            </tr>
            <tr>
                <td>
                    <ul style="text-align:left;display:inline-block;margin:0;padding:0">
                        @foreach (var item in ViewBag.diagnostics)
                        {

                            <li>
                                @item.Display_Name
                            </li>

                        }
                    </ul>

                </td>
                <td></td>
            </tr>
        </table>
    </div>


    <div id="section10" class="container-fluid">
        <h2>Collations Used</h2>
        <table>
            <tr>
                <th>Unpublished</th>
                <th>Published</th>
            </tr>
            <tr>
                <td>
                    <ul style="text-align:left;display:inline-block;margin:0;padding:0">
                        @foreach (var item in ViewBag.collations)
                        {
                            <li>
                                @item.Collation_Name
                            </li>
                        }
                    </ul>
                </td>
                <td>
                  
                </td>
            </tr>
        </table>
    </div>

    <div id="section11" class="container-fluid">
        <h2>Other Measure Build Details</h2>
        <table>
            <tr>
                <th>Unpublished</th>
                <th>Published</th>
            </tr>
            <tr>
                <td>
                    @ViewBag.basic.Other_Build_Details
                    aaaa

                </td>
                <td>
                    @ViewBag.published.Other_Build_Details
                    exclusion published
                </td>
            </tr>
        </table>
    </div>

    <div id="section12" class="container-fluid">
        <h2>Success</h2>
        <table>
            <tr>
                <th>Unpublished</th>
                <th>Published</th>
            </tr>
            <tr>
                <td>
                    @ViewBag.basic.Success
                    aaaa

                </td>
                <td>
                    @ViewBag.published.Success
                    exclusion published
                </td>
            </tr>
        </table>
    </div>

    <div id="section13" class="container-fluid">
        <h2>Responsible Provider</h2>
        <table>
            <tr>
                <th>Unpublished</th>
                <th>Published</th>
            </tr>
            <tr>
                <td>
                    @ViewBag.basic.Responsible_Provider
                    aaaa

                </td>
                <td>
                    @ViewBag.basic.Responsible_Provider
                </td>
            </tr>
        </table>
    </div>

    <div id="section14" class="container-fluid">
        <h2>Risk Adjustment</h2>
        <table>
            <tr>
                <th>Unpublished</th>
                <th>Published</th>
            </tr>
            <tr>
                <td>
                    @ViewBag.basic.Risk_Adjustment
                    aaaa

                </td>
                <td>
                    @ViewBag.basic.Risk_Adjustment
                    exclusion published
                </td>
            </tr>
        </table>
    </div>

    <div id="section15" class="container-fluid">
        <h2>Flow Chart</h2>
        <table>
            <tr>
                <th>Unpublished</th>
                <th>Published</th>
            </tr>
            <tr>
                <td>
                    @ViewBag.basic.Flow_Chart
                    aaaa

                </td>
                <td>
                    @ViewBag.published.Flow_Chart
                    exclusion published
                </td>
            </tr>
        </table>
    </div>

    <div id="section16" class="container-fluid">
        <h2>References</h2>
        <table>
            <tr>
                <th>Unpublished</th>
                <th>Published</th>
            </tr>
            <tr>
                <td>
                    @ViewBag.basic.Reference
                    aaaa

                </td>
                <td>
                    @ViewBag.published.Reference
                    exclusion published
                </td>
            </tr>
        </table>
    </div>

</body>
</html>
